section.intro {
  border-top: 1px solid #141414;
  position: relative;
  padding-bottom: 5vw;
}

section.intro div.backgroundWords {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #5d5b5b;
  z-index: -1;
  font-family: "Playfair Display";
  margin-top: 5vw;
  /*95px*/
  font-size: 10vw;
  /*135px*/
}

section.intro div.weIntro {
  color: #c49f54;
  font-family: "Amiri";
  font-size: 3.5vw;
  /*70px*/
  font-weight: 900;
  margin-left: 18.5vw;
  /*150px*/
  margin-top: 18.5vw;
  /*190px*/
  letter-spacing: 1px;
}

section.intro div.contactLine {
  margin-left: 18.5vw;
  /*150px*/
  margin-top: 1vw;
  display: flex;
  align-items: center;
  margin-bottom: 5vw;
}

section.intro div.contactLine div.line {
  width: 11vw;
  height: 1px;
  background-color: #c49f54;
  margin-right: 2vw;
}

section.intro div.contactLine i {
  font-size: 3vw;
  /*30px*/
  margin: 0.75vw;
  color: #5c5c5c;
}

section.intro div.contactLine i:hover {
  animation-name: linkAnimate2;
  animation-duration: 0.5s;
  color: #c49f54;
}

section.intro div.clubIntro {
  font-family: "Noto Sans TC";
  font-size: 2vw;
  width: 62.5vw;
  margin: 0 auto;
  color: #999;
  margin-top: 2vw;
  letter-spacing: 1px;
  line-height: 3.5vw;
}

section.intro div.clubIntro span.white {
  color: white;
}

@media only screen and (max-width:768px) {
  section.intro div.backgroundWords {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #5d5b5b;
    z-index: -1;
    font-family: "Playfair Display";
    margin-top: 1vw;
    /*95px*/
    font-size: 10vw;
    /*135px*/
  }

  section.intro div.weIntro {
    color: #c49f54;
    font-family: "Amiri";
    font-size: 6vw;
    /*70px*/
    font-weight: 900;
    margin-left: 18.5vw;
    /*150px*/
    margin-top: 15vw;
    /*190px*/
    letter-spacing: 1px;
  }

  section.intro div.contactLine i {
    font-size: 8vw;
    /*30px*/
    margin: 0.75vw;
    color: #5c5c5c;
    letter-spacing: 5px;
  }

  section.intro div.clubIntro {
    font-family: "Noto Sans TC";
    font-size: 5vw;
    width: 65vw;
    margin: 0 auto;
    color: #999;
    margin-top: 3vw;
    letter-spacing: 2px;
    line-height: 8vw;
  }
}

/* iframe map */
section.map-iframe div.map {
  margin-left: 19vw;
  margin-bottom: 5vw;
}

section.map-iframe div.map iframe {
  max-width: 75%;
  border: 0;
}

/* iframe RWD  */
@media only screen and (max-width:768px) {
  section.map-iframe div.map {
    position: relative;
    padding-bottom: 75%;
    margin-left: 19vw;
    overflow: hidden;
  }

  section.map-iframe div.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 75%;
    border: 0;
  }
}

/* scroll top button */
a.button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  displasy: block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  text-decoration: none;
  border: 3px solid;
  border-radius: 25px;
  z-index: 9999;
}

/* RWD scroll top button */
@media only screen and (max-width:768px) {
  a.button {
    z-index: 9999;
    position: fixed;
    right: 10px;
    bottom: 5px;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    text-decoration: none;
    border: 3px solid;
    border-radius: 25px;
  }
}

@keyframes linkAnimate {
  from {
    color: white;
  }

  to {
    color: #c49f54;
  }
}

@keyframes linkAnimate2 {
  from {
    color: #5c5c5c;
  }

  to {
    color: #c49f54;
  }
}
