* {
  box-sizing: border-box;
}

/* 一行要幾個 */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* 用padding分開 */
.row {
  height: 180px;
  padding: 60px;
  margin: 0 10px;
}

/* clear float */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  padding: 16px;
  text-align: center;
  background-color: #dfdcdc;
  height: 10vw;
  width: 35vw;
  transition: transform .2s;
  margin-left: 50px;
}

.card:hover {
  background-color: #fbf9f9;
  transform: scale(1.2);
  z-index: 100;
  position: relative;
}

section.club-projects div.project-title span.white {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

section.club-projects div.project-desc span.white {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

section.club-projects div.project-desc p.desc-box {
  margin-right: 1.5vw;
  width: 800px;
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

/* form */
form {
  width: 50%;
  border-radius: 5px;
  background-color: #dfdcdc;
  padding: 30px;
  margin-left: 400px;
  margin-bottom: 20px;
}

input[type=text] {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 2px 0 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle;
}

textarea {
  height: 150px;
  width: 300px;
  margin-top: 10px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  vertical-align: middle;
}

input[type=submit] {
  width: 35%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

@media only screen and (max-width:768px) {

  .column {
    display: block;
    float: left;
    width: 75%;
    margin: 15px 0;
  }

  .row {
    height: auto;
    padding: 0px;
    margin: 0 0;
  }

  .card {
    padding: 15px;
    text-align: center;
    background-color: #dfdcdc;
    height: auto;
    width: 100%;
    transition: transform .2s;
    margin-left: 12vw;
  }

  .card:hover {
    background-color: #fbf9f9;
    transform: scale(1.1);
    z-index: 100;
    position: relative;
  }

  section.club-projects div.project-desc p.desc-box {
    margin-right: 1.5vw;
    width: 800px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  /* form */
  form {
    width: 75%;
    border-radius: 5px;
    background-color: #dfdcdc;
    padding: 30px;
    margin-left: 15vw;
  }

  input[type=text] {
    width: 100%;
    height: auto;
    padding: 12px 20px;
    margin: 8px 2px 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: middle;
  }

  textarea {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    vertical-align: middle;
  }

  input[type=submit] {
    width: 75%;
    height: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
}
